@model Ebakery.Models.CombinedViewModel


@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <table class="table table-borderless table-hover">
                @foreach (var Product in Model.Products)
                {
                    <tr>
                        <td> @Product.Id </td>
                        <td>@Product.Name</td>
                        <td>@Product.Price</td>
                        <td> <input id="Desrc" type="text" class="form-control" row="1" name="Descr" placeholder="Γράψτε την παραγγελία σας" /></td>
                        <td> <a href="@Url.Action("AddOrderItem","Order", new { Id = Product.Id},null)">Προσθέστε στην παραγγελία</a></td>
                    </tr>
                }
            </table>
        </div>@*
            <div class="col-md-4">
                <table class="table table-borderless">
                    @foreach (var Product in Session)
                    {
                        <tr>
                            <td> @Product.Name + @Product.Price</td>
                        </tr>
                    }
                    <tr>
                       <td> <input id="Coupon" type="text" class="form-control" row="1" name="Coupon" placeholder="Προσθέστε το κουπόνι σας" />
                           <a href="@Url.Action("CheckCoupon","Order", new { CouponCode = Models.Coupons.Name},null)">Υποβολή</a></td> edw na kanei search th list me ta couponia
                    </tr>
                    <tr>
                      <td>  @Model.Order.TotalPrice  </td>
                    </tr>
                </table>

            </div>*@
        </div>

 </div>












@*
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li>
                        Coffees
                        <ul>
                            <li>Espresso</li>
                            <li>Freddo Espresso</li>
                            <li>Cappuccino</li>
                            <li>Freddo Cappuccino</li>
                            <li>Cappuccino Latte</li>
                            <li>Frappe</li>
                            <li>Nes</li>
                            <li>Greek Coffee</li>
                        </ul>
                    </li>
                    <li>
                        Beverages
                        <ul>
                            <li>Hot Chocolate</li>
                            <li>Cold Chocolate</li>
                            <li>Freddoccino</li>
                            <li>Mochaccino</li>
                            <li>Vanilla Cookies</li>
                        </ul>
                    </li>
                    <li>
                        Fresh Juice
                        <ul>
                            <li>Orange Juice</li>
                            <li>Pinnaple Juice</li>
                            <li>Cranberry juice</li>
                            <li>Grape juice</li>
                            <li>Lemon juice</li>
                            <li>Apple juice</li>
                        </ul>
                    </li>
                    <li>
                        Fresh Juice
                        <ul>
                            <li>Orange Juice</li>
                            <li>Pinnaple Juice</li>
                            <li>Cranberry juice</li>
                            <li>Grape juice</li>
                            <li>Lemon juice</li>
                            <li>Apple juice</li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div><br>
    </div><br>

    <br><br>


    <br>

*@
